In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style

In [7]:
#combine all files

file_list = [r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Jan 2023/202301-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Feb 2023/202302-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\March 2023/202303-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\April 2023/202304-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\May 2023/202305-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\June 2023/202306-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\July 2023/202307-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Aug 2023/202308-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Sep 2023/202309-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Oct 2023/202310-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Nov 2023/202311-divvy-tripdata.csv',
            r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Dec 2023/202312-divvy-tripdata.csv']

In [8]:
#Combime all files into a single file

files = pd.DataFrame()
for file in file_list:
    current = pd.read_csv(file)
    files = pd.concat([files, current], ignore_index = True)

In [10]:
#counting total entries
files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5719877 entries, 0 to 5719876
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 567.3+ MB

In [11]:
#checking data types of each row
files.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [12]:
#converting objects to datetime
files['started_at'] = pd.to_datetime(files['started_at'])
files['ended_at'] = pd.to_datetime(files['ended_at'])
files.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [16]:
#checking duplicate rides
files[files['ride_id'].duplicated()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [22]:
#checking unique rides and assign then with their types to reduce memory consumption
files.nunique()

ride_id               5719877
rideable_type               3
started_at            4823909
ended_at              4835702
start_station_name       1592
start_station_id         1516
end_station_name         1597
end_station_id           1520
start_lat              789702
start_lng              748738
end_lat                 13884
end_lng                 14002
member_casual               2
dtype: int64

In [23]:
files['rideable_type'] = files['rideable_type'].astype('category')
files['start_station_name'] = files['start_station_name'].astype('category')
files['start_station_id'] = files['start_station_id'].astype('category')
files['end_station_name'] = files['end_station_name'].astype('category')
files['end_station_id'] = files['end_station_id'].astype('category')
files['member_casual'] = files['member_casual'].astype('category')
files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5719877 entries, 0 to 5719876
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       category
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  category
 5   start_station_id    category
 6   end_station_name    category
 7   end_station_id      category
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       category
dtypes: category(6), datetime64[ns](2), float64(4), object(1)
memory usage: 360.3+ MB

In [25]:
#checking null values
files.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    875716
start_station_id      875848
end_station_name      929202
end_station_id        929343
start_lat                  0
start_lng                  0
end_lat                 6990
end_lng                 6990
member_casual              0
dtype: int64

In [36]:
data = files[['ride_id','rideable_type', 'started_at', 'ended_at', 'member_casual']]
data.head()

,ride_id,rideable_type,started_at,ended_at,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,member

In [38]:
stations = files[['ride_id','start_station_name','start_station_id','end_station_name','end_station_id']]
stations.dropna(inplace = True)
stations.head()

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\963736444.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations.dropna(inplace = True)

,ride_id,start_station_name,start_station_id,end_station_name,end_station_id
0,F96D5A74A3E41399,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0
1,13CB7EB698CEDB88,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002
2,BD88A2E670661CE5,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599
3,C90792D034FED968,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002
4,3397017529188E8A,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002

In [40]:
stations.isnull().sum()

ride_id               0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
dtype: int64

In [43]:
data.head()

,ride_id,rideable_type,started_at,ended_at,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,member

In [44]:
data['ride_time'] = data['ended_at'] - data['started_at']
data.head()

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\4018335941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ride_time'] = data['ended_at'] - data['started_at']

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_time
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,member,0 days 00:10:51
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,member,0 days 00:08:29
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,casual,0 days 00:13:14
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,member,0 days 00:08:46
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,member,0 days 00:15:19

In [49]:
data[data['ride_time']=='-12 days +10:23:29']

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_time
5362486,F584D47AE67FD388,classic_bike,2023-11-05 21:08:17,2023-10-25 07:31:46,casual,-12 days +10:23:29

In [51]:
data['ride_time'] = data['ride_time'].astype(str)

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\3011247744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ride_time'] = data['ride_time'].astype(str)

In [68]:
day = pd.DataFrame()
day['day'] = data['ride_time'][5362486].split(' ')[0].replace('-','')

'12'

In [67]:
data['ride_time'][5362486].split(' ')[2].replace('+','')

'10:23:29'

In [75]:
def day_count(n):
    if n.startswith('-'):
        return n.split(' ')[0].replace('-','')
    elif n.startswith('+'):
        return n.split(' ')[0].replace('+','')
    else: return n.split(' ')[0]

In [76]:
day['day'] = data['ride_time'].apply(lambda x: day_count(x))

In [77]:
day['day']

0          0
1          0
2          0
3          0
4          0
          ..
5719872    0
5719873    0
5719874    0
5719875    0
5719876    0
Name: day, Length: 5719877, dtype: object

In [81]:
def hour_count(n):
    if n.split(' ')[2].startswith('-'):
        return n.split(' ')[2].replace('-','').split(':')[0]
    elif n.split(' ')[2].startswith('+'):
        return n.split(' ')[2].replace('+','').split(':')[0]
    else: return n.split(' ')[2].split(':')[0]

In [82]:
day['hour'] = data['ride_time'].apply(lambda x: hour_count(x))

In [84]:
def min_count(n):
    return n.split(' ')[2].split(':')[1]

In [85]:
day['min'] = data['ride_time'].apply(lambda x: min_count(x))

In [87]:
def sec_count(n):
    return n.split(' ')[2].split(':')[2]

In [88]:
day['sec'] = data['ride_time'].apply(lambda x: sec_count(x))

In [91]:
day['hour'][5362486]

'10'

In [95]:
data['day'] = day['day']
data['hour'] = day['hour']
data['min'] = day['min']
data['sec'] = day['sec']

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\973411653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = day['day']
C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\973411653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = day['hour']
C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\973411653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['min'] = day['min']
C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\973411653.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sec'] = day['sec']

In [96]:
data

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_time,day,hour,min,sec
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,member,0 days 00:10:51,0,00,10,51
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,member,0 days 00:08:29,0,00,08,29
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,casual,0 days 00:13:14,0,00,13,14
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,member,0 days 00:08:46,0,00,08,46
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,member,0 days 00:15:19,0,00,15,19
...,...,...,...,...,...,...,...,...,...,...
5719872,F74DF9549B504A6B,electric_bike,2023-12-07 13:15:24,2023-12-07 13:17:37,casual,0 days 00:02:13,0,00,02,13
5719873,BCDA66E761CC1029,classic_bike,2023-12-08 18:42:21,2023-12-08 18:45:56,casual,0 days 00:03:35,0,00,03,35
5719874,D2CF330F9C266683,classic_bike,2023-12-05 14:09:11,2023-12-05 14:13:01,member,0 days 00:03:50,0,00,03,50
5719875,3829A0D1E00EE970,electric_bike,2023-12-02 21:36:07,2023-12-02 21:53:45,casual,0 days 00:17:38,0,00,17,38
5719876,A373F5B447AEA508,classic_bike,2023-12-11 13:07:46,2023-12-11 13:11:24,member,0 days 00:03:38,0,00,03,38

In [102]:
data['day'] = data['day'].astype(int)
data['hour'] = data['hour'].astype(int)
data['min'] = data['min'].astype(int)
data['sec'] = data['sec'].astype(int)
data.dtypes

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\987525795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['day'].astype(int)
C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\987525795.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['hour'].astype(int)
C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\987525795.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['min'] = data['min'].astype(int)
C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\987525795.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sec'] = data['sec'].astype(int)

ride_id                  object
rideable_type          category
started_at       datetime64[ns]
ended_at         datetime64[ns]
member_casual          category
ride_time                object
day                       int32
hour                      int32
min                       int32
sec                       int32
dtype: object

In [107]:
data.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_time,day,hour,min,sec
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,member,0 days 00:10:51,0,0,10,51
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,member,0 days 00:08:29,0,0,8,29
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,casual,0 days 00:13:14,0,0,13,14
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,member,0 days 00:08:46,0,0,8,46
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,member,0 days 00:15:19,0,0,15,19

In [108]:
import datetime as dt

In [111]:
data['month'] = data['started_at'].dt.month_name()

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\3663896751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['started_at'].dt.month_name()

In [202]:
data['day_name'] = data['started_at'].dt.day_name()

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\2453334590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_name'] = data['started_at'].dt.day_name()

In [119]:
data.sort_values('started_at', inplace = True)

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\3487915601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.sort_values('started_at', inplace = True)

In [122]:
data.nunique()

ride_id          5719877
rideable_type          3
started_at       4823909
ended_at         4835702
member_casual          2
ride_time          23070
day                   40
hour                  24
min                   60
sec                   60
month                 12
day_name               7
dtype: int64

In [204]:
data['month'] = data['month'].astype('category')
data['day_name'] = data['day_name'].astype('category')

C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\3721196025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['month'].astype('category')
C:\Users\Saikat\AppData\Local\Temp\ipykernel_6308\3721196025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_name'] = data['day_name'].astype('category')

In [205]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5719877 entries, 80659 to 5600722
Data columns (total 12 columns):
 #   Column         Dtype
---  ------         -----
 0   ride_id        object
 1   rideable_type  category
 2   started_at     datetime64[ns]
 3   ended_at       datetime64[ns]
 4   member_casual  category
 5   ride_time      object
 6   day            int32
 7   hour           int32
 8   min            int32
 9   sec            int32
 10  month          category
 11  day_name       category
dtypes: category(4), datetime64[ns](2), int32(4), object(2)
memory usage: 327.3+ MB

In [206]:
data.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_time,day,hour,min,sec,month,day_name
80659,53F0F248F28485D2,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,casual,0 days 00:00:43,0,0,0,43,January,Sunday
189816,D8EEE72183269F07,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,member,0 days 00:27:40,0,0,27,40,January,Sunday
185198,E5AD797A579842F8,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,casual,0 days 00:03:57,0,0,3,57,January,Sunday
106410,8FBD2AD70B0F6A6F,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,casual,0 days 00:09:49,0,0,9,49,January,Sunday
169407,B05BD052B9EBB767,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,member,0 days 00:12:25,0,0,12,25,January,Sunday

In [160]:
month_wise_rides_counts = data['month'].value_counts(sort= False).to_frame()

In [157]:
months=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [163]:
month_wise_rides_counts.index=pd.CategoricalIndex(month_wise_rides_counts.index, categories= months, ordered = False)

In [166]:
month_wise_rides_counts = month_wise_rides_counts.sort_index().reset_index()

In [169]:
month_wise_rides_counts.to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\month_wise_rides_counts.csv')

In [199]:
data[['month','member_casual']].value_counts(sort=False).to_frame().pivot_table(index='month', columns = 'member_casual', values = 'count').to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\month_wise_riders_counts.csv')

In [208]:
data[['day_name','member_casual']].value_counts(sort=False).to_frame().pivot_table(index='day_name', columns = 'member_casual', values = 'count').to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\day_wise_riders_counts.csv')

In [212]:
data[['month','rideable_type']].value_counts(sort=False).to_frame().pivot_table(index='month', columns = 'rideable_type', values = 'count').to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\month_wise_bike_counts.csv')

In [218]:
data[data['day']>0]['member_casual'].value_counts().to_frame().to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\day_wise_riders_counts.csv')

In [221]:
data[data['hour']>0]['member_casual'].value_counts().to_frame().to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\hour_wise_riders_counts.csv')

In [222]:
data[data['min']>0]['member_casual'].value_counts().to_frame().to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\min_wise_riders_counts.csv')

In [223]:
data[data['sec']>0]['member_casual'].value_counts().to_frame().to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\sec_wise_riders_counts.csv')

In [224]:
data.set_index('ride_id').to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Previous Year Ridings.csv')

In [225]:
stations.set_index('ride_id').to_csv(r'C:\Users\Saikat\Desktop\BA Project\Cyclistic\Previous Year Stations.csv')